ion-content {
  --ion-background-color: #f9fafb;
}

ion-grid {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-repeat: repeat;
}

ion-img {
  width: 100%;
  margin: auto;
}

h5 {
  margin: 2rem;
  font-weight: 600;
  font-size: 4vw;
  line-height: 1.5rem;
  color: #364f6b !important;
}
