<ion-content [fullscreen]="true">
  <ion-card style="max-height: 250px;">
    <img style="max-height: 150px;" src="{{shop.picture_url}}" />
    <ion-card-content>
      <ion-card-title style="text-align: center;" class="text-center">
        {{shop.name}}
      </ion-card-title>
      <p style="text-align: center;" class="text-center">
        {{shop.description}}
      </p>
    </ion-card-content>
    <ion-row style="width: 100%;" class="cardfooter">
      <ion-col style="text-align: center;" size="6">
        <span
          style="
            color: rgb(102, 102, 102);
            padding-right: 0.7rem;
            font-size: 9px;
          "
        >
          From: {{shop.open_at}}</span
        ><span style="color: rgb(102, 102, 102); font-size: 9px;"
          >To: {{shop.close_at}}</span
        >
      </ion-col>

      <ion-col style="text-align: center; padding: 0;" size="6">
        <ion-button
          style="
            font-size: 8pt !important;
            height: 24px;
            --background: #f39e1b;
            --box-shadow: none;
          "
        >
          <ion-icon style="margin-right: 10px;" name="call"></ion-icon>
          {{shop.phone_number}}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
  <!-- <ion-card style="height: auto; margin-top: 1rem;"> -->
  <div class="map-wrapper">
    <div id="map_center">
      <img src="assets/marker.png" />
    </div>
    <div #map id="map"></div>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <b>Address</b>
      </ion-col>
      <ion-col>
        {{address}}
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- </ion-card> -->
</ion-content>
