<ion-header>
  <ion-toolbar>
    <ion-title>shop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="height: 258px;">
    <img style="max-width: 300px; max-height: 200px;" />
    <ion-card-content>
      <ion-card-title style="text-align: center;" class="text-center">
        "item"
      </ion-card-title>
      <p style="text-align: center;" class="text-center">
        "item"
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card style="height: 158px;">
    <img style="max-width: 300px; max-height: 200px;" />
    <ion-card-content>
      <ion-card-title style="text-align: center;" class="text-center">
        "item"
      </ion-card-title>
      <p style="text-align: center;" class="text-center">
        "item"
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
