<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="onClick()">
    <ion-fab-button>
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <div class="card-title">
              <div>
                <ion-card-title>username</ion-card-title>
              </div>
            </div>
          </ion-card-header>

          <ion-card-content>
            <ion-list lines="none">
              <ion-item
                >User Name :<span
                  style="font-size: 0.8rem; padding-left: 0.6rem;"
                  >username</span
                ></ion-item
              >
              <ion-item
                >Password :
                <span style="font-size: 0.8rem; padding-left: 0.6rem;"
                  >change</span
                ></ion-item
              >
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
