<ion-content padding>
  <div class="login-box">
    <form [formGroup]="passwordForm" (ngSubmit)="submit()">
      <ion-row>
        <ion-col style="margin-left: auto; margin-right: auto;" size="12">
          <ion-item class="ion-no-padding">
            <ion-label style="font-size: 14px;" position="floating"
              >{{'user_password.old_password' | translate:params}}</ion-label
            >
            <ion-input
              formControlName="old_password"
              inputmode="password"
              type="password"
            ></ion-input>
          </ion-item>
          <div *ngFor="let error of errorMessages.old_password">
            <ng-container
              *ngIf="old_password.hasError(error.type) && (old_password.diry || old_password.touched)"
            >
              <small class="error-message"
                >{{error.message| translate:params}}</small
              >
            </ng-container>
          </div>
          <ion-item class="ion-no-padding">
            <ion-label style="font-size: 14px;" position="floating"
              >{{'user_password.new_password' | translate:params}}</ion-label
            >
            <ion-input
              formControlName="new_password"
              inputmode="password"
              type="password"
            ></ion-input>
          </ion-item>
          <div *ngFor="let error of errorMessages.new_password">
            <ng-container
              *ngIf="new_password.hasError(error.type) && (new_password.diry || new_password.touched)"
            >
              <small class="error-message"
                >{{error.message| translate:params}}</small
              >
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button
            size="large"
            type="submit"
            [disabled]="!passwordForm.valid"
            expand="block"
          >
            {{'buttons.save' | translate:params}}
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
