<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="onClick()">
    <ion-fab-button>
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <div class="card-title">
              <ion-avatar>
                <!-- <img
                  src="https://avataaars.io/?avatarStyle=Circle&topType=LongHairStraight&accessoriesType=Blank&hairColor=BrownDark&facialHairType=Blank&clotheType=BlazerShirt&eyeType=Default&eyebrowType=Default&mouthType=Default&skinColor=Light"
                /> -->
              </ion-avatar>
              <div>
                <ion-card-title>{{username}}</ion-card-title>
              </div>
            </div>
          </ion-card-header>

          <ion-card-content>
            <ion-list lines="none">
              <ion-item
                >{{'user_profile.field_email' | translate}} :<span
                  style="font-size: 0.8rem; padding-left: 0.6rem;"
                  >{{email}}</span
                ></ion-item
              >
              <ion-item
                >{{'user_profile.field_first_name' | translate}} :
                <span style="font-size: 0.8rem; padding-left: 0.6rem;"
                  >{{first_name}}</span
                ></ion-item
              >
              <ion-item
                >{{'user_profile.field_last_name' | translate}} :
                <span style="font-size: 0.8rem; padding-left: 0.6rem;"
                  >{{last_name}}</span
                ></ion-item
              >
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
