
<ion-content>
	<ion-grid class="column-evenly">
		<ion-row>
			<ion-col style="margin-bottom: 1rem">
				<ion-item class="ion-no-padding">
					<ion-label position="stacked">Describe your problem</ion-label>
					<ion-textarea></ion-textarea>
				</ion-item>
				<ion-item class="ion-no-padding">
					<ion-label position="stacked">Date & Time</ion-label>
					<ion-datetime displayFormat="D MMM YYYY H:mm"></ion-datetime>
				</ion-item>
				<div class="agree-terms">
						<ion-checkbox slot="start" checked="true"> </ion-checkbox>
						
							<span>I want to pay once the repair is finished</span>
					
					</div>
			</ion-col>
			
		</ion-row>
		<ion-row>
			<ion-col style="margin-top: 1rem">
				<ion-button class="button-size center-button" expand="block">
					Complete appointment
				</ion-button>
			
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
    