<ion-content style="--background: whitesmoke;">
  <ion-grid class="column-evenly">
    <div>
      <img src="assets/2.png" />
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <ion-row>
        <ion-col style="margin-left: auto; margin-right: auto;" size="12">
          <ion-item class="ion-no-padding">
            <ion-label style="font-size: 14px;" position="floating"
              >Username</ion-label
            >
            <ion-input formControlName="username" inputmode="text"></ion-input>
          </ion-item>
          <div *ngFor="let error of errorMessages.username">
            <ng-container
              *ngIf="username.hasError(error.type) && (username.diry || username.touched)"
            >
              <small class="error-message">{{error.message}}</small>
            </ng-container>
          </div>

          <ion-item class="ion-no-padding">
            <ion-label style="font-size: 14px;" position="floating"
              >Password</ion-label
            >
            <ion-input
              formControlName="password"
              inputmode="password"
              type="password"
            ></ion-input>
          </ion-item>
          <div *ngFor="let error of errorMessages.password">
            <ng-container
              *ngIf="password.hasError(error.type) && (password.diry || password.touched)"
            >
              <small class="error-message">{{error.message}}</small>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button
            size="large"
            type="submit"
            [disabled]="!loginForm.valid"
            expand="block"
          >
            Login
          </ion-button>

          <div class="m-top">
            <span
              >Don't have an account?
              <a [routerLink]="['/register']">Sign up</a></span
            >
          </div>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
