ion-content {
  --ion-background-color: #f9fafb;
}

ion-grid {
  margin-right: 1em;
  margin-left: 1em;
}

ion-title {
  font-weight: 600;
  text-align: center;
  margin: 1em 0.5em 0 0;
}

ion-item {
  --background: #f9fafb;
  margin-top: 1em;

  ion-label {
    font-weight: 600;
    font-size: 18px;
    padding-left: 1rem;
    color: #223e5c;
  }
}

.input-help {
  font-size: 10px;
  text-align: right;
  color: rgba(0, 0, 0, 0.6);
}

.error-message {
  color: red;
}
