<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="white">
      <ion-title
        ><ion-avatar>
          <!-- <img
            src="https://avataaars.io/?avatarStyle=Circle&topType=LongHairStraight&accessoriesType=Blank&hairColor=BrownDark&facialHairType=Blank&clotheType=BlazerShirt&eyeType=Default&eyebrowType=Default&mouthType=Default&skinColor=Light"
          /> -->
        </ion-avatar>
        <p style="font-size: 1rem; color: #00bcd4; text-align: center;">
          {{username}}
        </p>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list style="padding: 2rem;">
      <ion-item [routerLink]="['/home']"
        >{{ 'buttons.home' | translate:params }}</ion-item
      >
      <ion-item [routerLink]="['/profile']"
        >{{ 'buttons.profile' | translate:params }}</ion-item
      >
      <ion-item>{{ 'buttons.contact_us' | translate:params }}</ion-item>
      <ion-item>
        <ion-label>{{ 'buttons.language' | translate:params }}</ion-label>
        <ion-select
          (ionChange)="languageChanged()"
          [(ngModel)]="language"
          value="Language"
          interface="action-sheet"
        >
          <ion-select-option value="en" selected>English</ion-select-option>
          <ion-select-option value="ar">العربيه</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="none"
        ><ion-button (click)="handleLogout()">
          {{ 'buttons.logout' | translate:params }}
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header no-border>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col style="margin: 0 0 0 0;" class="flex-container">
          <div text-center class="left-side text-center"></div>
          <div>
            <ion-row>
              <ion-col>
                <ion-menu-toggle>
                  <ion-button
                    style="--background: transparent; --box-shadow: none;"
                    ><ion-icon
                      style="color: #3e3e3e; font-size: 2rem;"
                      name="menu"
                    ></ion-icon
                  ></ion-button>
                </ion-menu-toggle>
              </ion-col>
            </ion-row>
          </div>
          <div class="right-side">
            <div class="inbox-icon">
              <ion-searchbar animated></ion-searchbar>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content overflow-scroll="false">
  <div class="filter-container">
    <ion-item>
      <label>{{ 'home.categories' | translate:params }}</label>
      <ion-select
        interface="popover"
        name="cat"
        (ionChange)="onCategoryChange($event.target.value)"
      >
        <ion-select-option value="-1" selected
          >{{ 'home.all' | translate:params }}</ion-select-option
        >
        <ion-select-option
          *ngFor="let category of categoires"
          value="{{category.id}}"
        >
          {{category.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </div>
  <ion-grid>
    <ion-list>
      <ion-card *ngFor="let item of items">
        <img
          style="max-width: 300px; max-height: 200px;"
          src="{{item.picture}}"
        />
        <ion-card-content>
          <ion-card-title style="text-align: center;" class="text-center">
            {{item.name}}
          </ion-card-title>
          <p style="text-align: center;" class="text-center">
            {{item.description}}
          </p>
        </ion-card-content>
        <ion-row class="cardfooter">
          <ion-col size="12">
            <span
              style="
                color: rgb(102, 102, 102);
                text-decoration-line: line-through;
                padding-right: 1rem;
              "
              >{{item.old_price}} JD</span
            ><span style="color: tomato;">{{item.price}} JD</span>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-list>
  </ion-grid>
</ion-content>
<ion-router-outlet id="main"></ion-router-outlet>
