<ion-header no-border>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col style="margin: 0 0 0 0;" class="flex-container">
          <!-- <div text-center class="left-side text-center"></div> -->
          <div>
            <ion-row>
              <ion-col>
                <ion-menu-toggle>
                  <ion-button
                    style="--background: transparent; --box-shadow: none;"
                    ><ion-icon
                      style="color: #3e3e3e; font-size: 2rem;"
                      name="menu"
                    ></ion-icon
                  ></ion-button>
                </ion-menu-toggle>
              </ion-col>
            </ion-row>
          </div>
          <div class="right-side">
            <div class="inbox-icon">
              <ion-button
                (click)="presentModal()"
                style="--background: transparent; --box-shadow: none;"
                ><ion-icon
                  style="color: #3e3e3e; font-size: 2rem;"
                  name="search"
                ></ion-icon
              ></ion-button>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="filter-container">
    <ion-item>
      <label>{{ 'home.categories' | translate:params }}</label>
      <ion-select
        interface="popover"
        name="cat"
        (ionChange)="onCategoryChange($event.target.value)"
      >
        <ion-select-option value="-1" selected
          >{{ 'home.all' | translate:params }}</ion-select-option
        >
        <ion-select-option
          *ngFor="let category of categoires"
          value="{{category.id}}"
        >
          {{category.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </div>
  <ion-grid>
    <ion-list>
      <ion-card *ngFor="let item of items">
        <img
          style="max-width: 300px; max-height: 200px;"
          src="{{item.picture}}"
        />
        <ion-card-content>
          <ion-card-title style="text-align: center;" class="text-center">
            {{item.name}}
          </ion-card-title>
          <p
            style="text-align: center; margin-top: 5px; font-size: 11px;"
            class="text-center"
          >
            {{item.description}}
          </p>
        </ion-card-content>
        <ion-row style="width: 100%;" class="cardfooter">
          <ion-col class="priceDiv" style="text-align: center;" size="6">
            <span class="testprice oldPrice">{{item.old_price}} JD</span
            ><span class="currentPrice">{{item.price}} JD</span>
          </ion-col>

          <ion-col
            style="text-align: center; padding: 0;"
            size="6"
            (click)="showProfile(item.shop)"
          >
            <ion-button
              style="
                font-size: 8pt !important;
                height: 24px;
                --background: #f39e1b;
                --box-shadow: none;
              "
            >
              <ion-icon class="btn-icon" name="information-circle"></ion-icon>
              {{item.shop.name}}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-list>
  </ion-grid>
</ion-content>
