<ion-card >
    <ion-card-header>
		<div class="card-title">
			<ion-avatar>
				<img src="assets/6.png" />
			</ion-avatar>
			<div>
				<ion-card-title>pizza</ion-card-title>
				<ion-card-subtitle class="star">
					<ion-icon name="star"></ion-icon>
					<ion-icon name="star"></ion-icon>
					<ion-icon name="star"></ion-icon>
					<ion-icon name="star"></ion-icon>
					<ion-icon name="star-outline"></ion-icon>
				
				</ion-card-subtitle>
			</div>
		</div>
		<div>
			<ion-button class="ion-badge" color="primary" (click)="showProfile()">Info</ion-button>
		</div>
    </ion-card-header>
        
    <ion-card-content>
		Keep close to Nature's heart... and break clear away, once in awhile, and
		climb a mountain or spend...
    </ion-card-content>
</ion-card>
